@import "tailwindcss";

@theme inline {
  --color-brand: #df9f00;
  --color-brand-dark: #b38000;
  --color-sidebar: #111111;
  --color-sidebar-hover: #222222;
  --font-cairo: var(--font-cairo);
}

@layer base {
  body {
    @apply text-gray-800 bg-gray-50;
  }
}

@theme {
  --animate-fade-in-up: fade-in-up 0.8s ease-out forwards;
}

@keyframes fade-in-up {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
